<h1 class = "instructions">I'm voting for:</h1>

<div class = "explanation hidden">
    
    <p>We live in opinion bubbles. When it comes to the election, I've found that most of my friends share and reinforce my opinions, progressively disregarding the fact that half of the US - given the recent polling - disagrees with us. This cycle cuts us off from understanding the other side and turns politics into a sport.</p>

    <p>In addition, the media doesn't do a great job explaining why, in this very close election, so many people are lining up behind the other candiate - when none of our friends seem to.</p>

    <p>I was eager to understand the "other side", so, I built this project for us to <b>anonymously</b> and <b>directly</b> share our political opinions with our friends - and our fellow Americans across the party line.</p>

    <p>Built with love in 2016 by <a href = "http://maximpekarsky.com" target = "_blank">Max Pekarsky</a></p>

</div>

<div class = "container">
    <div class = "row candidate-options">

    <%= link_to why_path(party: false) do %> 
            <div class = "col-md-6 col-sm-6 col-xs-12">
                <div class = "candidate-button clinton">
                    <p>Hillary Clinton</p>
                    <div class = "white-banner"> 
                      <!--   <div class = "party-logo" id = "dem-logo"></div> -->


                        <%= image_tag "dem.png", class: 'party-logo' %>





                    </div>
                </div>
            </div>
        <% end %>

        <%= link_to why_path(party: true) do %> 
            <div class = "col-md-6 col-sm-6 col-xs-12">
                <div class = "candidate-button trump">
                    <p>Donald Trump</p>
                    <div class = "white-banner"> 
                        <%= image_tag "rep.png", class: 'party-logo' %>
                    </div>
                </div>

                </div>
            </div>
        <% end %>

<div class = "republican don">
	

</div>

<div class = "democrat hill">
	
</div>

<div class = "footer">
    <%= link_to "I don't know yet", "https://www.isidewith.com/", target: "_blank" %>
</div>
