<p>Trump: <%= @don %>, <b><%= @don_per %>%</b></p>
<p>Clinton: <%= @hill %>, <b><%= @hill_per %>%</b></p>
<p>Pro candidate messages: <%= @pos %></p>
<p>Anti candidate messages: <%= @neg %> </p>



<p>Total: <%= @total %></p>