<h1 class = "instructions">I'm not voting for 

<% if params[:party] == "true" %>
    <span id = "candidate" class = "hill can-name">
<% else %>
    <span id = "candidate" class = "don  can-name">
<% end %>



<%= @candidate %></span> because: </h1>


<div class = "container">
    <%= form_for (@message), :html => {:class => "input-form"} do |m| %>
        <p class = "char-count">Characters: <span id = "counter">0</span>/200</p>
        <%= m.text_area :body, rows: 2, maxlength: 200, size: 200, class: "message-body" %>
        <%= m.hidden_field :party, :value => params[:party] %>
        <%= m.hidden_field :positive, value: true %>
        <%= m.hidden_field :complete, value: false %>

        <br>

        <%= m.submit 'Submit (2/2)', class: 'sub-button' %> 

    <% end %>
</div>