<p> Session complete: <%= session[:complete] %></p>

<h1>I'm not voting for <span id = "candidate" class = "can-name"><%= @candidate %></span> because: </h1>


<%= form_for (@message) do |m| %>

	<%= m.text_area :body, rows: 2, maxlength: 200, size: 250 %>
	<%= m.hidden_field :party, value: params[:party] %>
	<%= m.hidden_field :positive, value: false %>
	<%= m.hidden_field :complete, value: true %>

	<br>

	<%= m.submit 'Submit' %> 

<% end %>